In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Dataset.csv")

In [10]:
df

,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,EN,FT,Data Science Consultant,64369,DE,50,DE,L
1,SE,FT,Data Scientist,68428,GR,100,US,L
2,EX,FT,Head of Data Science,85000,RU,0,RU,M
3,EX,FT,Head of Data,230000,RU,50,RU,L
4,EN,FT,Machine Learning Engineer,125000,US,100,US,S
...,...,...,...,...,...,...,...,...
240,SE,FT,Data Scientist,412000,US,100,US,L
241,MI,FT,Principal Data Scientist,151000,US,100,US,L
242,EN,FT,Data Scientist,105000,US,100,US,S
243,EN,CT,Business Data Analyst,100000,US,100,US,L
244,SE,FT,Data Science Manager,94917,IN,50,IN,L

In [14]:
df.isnull().sum()

experience_level      0
employment_type       0
job_title             0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

df_encoded = df.copy()

# List of categorical columns
categorical_cols = ['experience_level', 'employment_type', 'job_title',
                    'employee_residence', 'company_location', 'company_size']

# Apply Label Encoding
le = LabelEncoder()
for col in categorical_cols:
    df_encoded[col] = le.fit_transform(df_encoded[col])

In [20]:
from sklearn.model_selection import train_test_split

X = df_encoded.drop('salary_in_usd', axis=1)
y = df_encoded['salary_in_usd']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
from sklearn.ensemble import RandomForestRegressor, VotingRegressor
import xgboost as xgb
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# Initialize models
rf = RandomForestRegressor(random_state=42, n_estimators=200, max_depth=10)
xg = xgb.XGBRegressor(objective='reg:squarederror', random_state=42, n_estimators=200, max_depth=6, learning_rate=0.1)

# Create Voting Regressor
voting_regressor = VotingRegressor(estimators=[('rf', rf), ('xg', xg)])

# Train Voting Regressor
voting_regressor.fit(X_train, y_train)

# Predict on test set
y_pred = voting_regressor.predict(X_test)

# Evaluate performance
print("Voting Regressor Performance:")
print("R² Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", mean_squared_error(y_test, y_pred, squared=False))

Voting Regressor Performance:
R² Score: 0.5092259418600453
MAE: 34333.631678279635
RMSE: 56460.18817083373

C:\Users\Muskan Singh\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [28]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['company_location'] = label_encoder.fit_transform(df['company_location'])
df['employee_residence'] = label_encoder.fit_transform(df['employee_residence'])

In [29]:
top_jobs = df['job_title'].value_counts().nlargest(10).index
df['job_title'] = df['job_title'].apply(lambda x: x if x in top_jobs else 'Other')
df = pd.get_dummies(df, columns=['job_title'], drop_first=True)

In [30]:
from sklearn.ensemble import RandomForestRegressor, VotingRegressor
import xgboost as xgb
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# Initialize models
rf = RandomForestRegressor(random_state=42, n_estimators=200, max_depth=10)
xg = xgb.XGBRegressor(objective='reg:squarederror', random_state=42, n_estimators=200, max_depth=6, learning_rate=0.1)

# Create Voting Regressor
voting_regressor = VotingRegressor(estimators=[('rf', rf), ('xg', xg)])

# Train Voting Regressor
voting_regressor.fit(X_train, y_train)

# Predict on test set
y_pred = voting_regressor.predict(X_test)

# Evaluate performance
print("Voting Regressor Performance:")
print("R² Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", mean_squared_error(y_test, y_pred, squared=False))

Voting Regressor Performance:
R² Score: 0.5092259418600453
MAE: 34333.631678279635
RMSE: 56460.18817083373

C:\Users\Muskan Singh\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [31]:
import joblib

# Assuming your trained model is named 'voting_model'
joblib.dump(voting_model, 'model51.pkl')

print("Model saved successfully as 'model51.pkl'")

NameError: name 'voting_model' is not defined